* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #fff;
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

button {
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.8125em; }

h3 {
  font-size: 1.4375em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 0.875em; }

h6 {
  font-size: 0.6875em; }

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.8125em; }

  h2 {
    font-size: 1.4375em; }

  h3 {
    font-size: 1.125em; }

  h4 {
    font-size: 0.875em; }

  h5 {
    font-size: 0.6875em; }

  h6 {
    font-size: 0.5625em; } }
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4375em; }

  h2 {
    font-size: 1.125em; }

  h3 {
    font-size: 0.875em; }

  h4 {
    font-size: 0.6875em; }

  h5 {
    font-size: 0.5625em; }

  h6 {
    font-size: 0.5em; } }

/*# sourceMappingURL=main.css.map */
