.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

#services {
  justify-content: center;
  align-items: center;
  min-height: 500px;
  flex-direction: column; }

.section {
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.resize-x {
  padding-left: 6rem;
  padding-right: 6rem; }

.resize-y {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.section h2 {
  color: #10161a;
  font-size: 2.25em;
  font-weight: 700;
  margin-bottom: 4rem; }

.section p {
  color: #868f9b; }

.section h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: #6195ff;
  margin: 12px auto 0; }

.services-categories {
  flex-wrap: wrap;
  justify-content: space-around; }

.services-categories .cat-box {
  border: 1px solid #eee;
  margin-bottom: 2%;
  width: 31%;
  position: relative;
  overflow: hidden;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s; }

.cat-box::before {
  content: "";
  display: block;
  background-color: #1c1d21;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s; }

.cat-box:hover::before {
  left: 0;
  opacity: 1;
  padding: 2rem 1.2rem; }

.cat-box i {
  color: #6195ff;
  font-size: 1.9em; }

.cat-box h4 {
  color: #10161a;
  font-size: 1.35em;
  margin-bottom: 1rem;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s; }

.cat-box:hover .cat-descr h4 {
  color: #fff; }

.cat-box p {
  color: #868f9b;
  font-size: 1em;
  line-height: 1.4em;
  font-weight: normal; }

.cat-box .cat-icon {
  margin-right: 1rem;
  padding: 2.3rem 0 0 1.2rem;
  position: relative; }

.cat-descr {
  position: relative;
  padding: 2.3rem 1.2rem 3.6rem 0; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  z-index: 1; }

.nav .nav-left a {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase; }

.nav .nav-right ul li {
  align-items: center;
  padding: 0 0.9375rem;
  display: block; }

.nav .nav-right ul li a {
  font-size: 0.9em;
  font-weight: 500;
  display: block; }

.nav .dropdown-menu {
  display: none; }

.nav .dropdown {
  position: relative; }

.nav .dropdown i {
  font-size: 12px;
  transition: all 0.3s; }

.nav .dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  min-width: 200px;
  top: 100%;
  right: -65px;
  background-color: #6195ff;
  padding: 10px 0;
  transition: all 0.3s; }

.nav .dropdown:hover i {
  transform: rotate(-90deg); }

.current::after {
  content: "";
  display: block;
  width: 100% !important;
  height: 2px;
  background-color: #6195ff; }

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #6195ff;
  transition: width 0.3s; }

.cool-link:hover::after {
  width: 100%; }

.header {
  width: 100%;
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat center fixed;
  background-size: cover; }

.header .overlay-header {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 29, 33, 0.3);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff; }

.header .overlay-header h1 {
  font-weight: 700;
  font-size: 4em;
  text-transform: uppercase; }

.header .overlay-header p {
  text-align: center;
  max-width: 900px;
  line-height: 1.5em;
  margin: 1.25rem 0 1.875rem; }

.btn {
  padding: 0.9rem 2.5rem;
  margin: 0 0.3rem;
  border-radius: 3px;
  font-size: 16px;
  transition: all 0.3s linear; }

.btn-inherit {
  background-color: #fff;
  color: #000; }

.btn-primary {
  background-color: #6195ff;
  color: #fff; }

.btn-inherit:hover,
.btn-primary:hover {
  opacity: 0.8; }

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  min-width: 200px;
  top: 100%;
  right: -65px;
  background-color: #6195ff;
  padding: 10px 0;
  transition: all .3s; }

#why-section {
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  justify-content: space-around; }

.why-descr {
  flex: 1; }

#why-section .why-descr h2::after {
  margin: 12px 0 0 0; }

.why-slider {
  flex: 1; }

.why-descr p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: normal;
  color: #868f9b; }

.why-descr ul {
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem; }

.why-descr ul li {
  color: #868f9b;
  font-size: 1em;
  display: flex;
  align-items: center; }

.why-descr ul li i {
  color: #6195ff;
  font-size: 2em;
  margin-right: 0.3rem; }

#number-section {
  background: url("../img/city-bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative; }

.overlay {
  background-color: #10161a;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%; }

#number-section .number-area {
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
  width: 100%; }

.number-area .num-box {
  flex-direction: column;
  align-items: center;
  flex: 1; }

.num-box i {
  color: #6195ff;
  font-size: 2.2em; }

.num-box span {
  color: #fff;
  font-weight: 700;
  font-size: 2.1em;
  margin: 1rem 0 1rem 0; }

.num-box p {
  color: #fff;
  font-size: 0.9em; }

#prices {
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.price-area {
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.price-area .price-box {
  border: 1px solid #eee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31.5%;
  padding: 2.5rem;
  position: relative;
  overflow: hidden;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s; }

.price-box::after {
  content: "";
  display: block;
  background-color: #1c1d21;
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .22s;
  -webkit-transition: .22s;
  -moz-transition: .22s; }

.price-box:hover::after {
  opacity: 1;
  bottom: 0; }

.price-box p {
  font-size: 1em;
  margin-bottom: 1rem;
  transition: .22s;
  -webkit-transition: .22s;
  -moz-transition: .22s;
  position: relative;
  z-index: 1; }

.price-box span {
  color: #868f9b;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  position: relative;
  z-index: 1;
  transition: .22s;
  -webkit-transition: .22s;
  -moz-transition: .22s; }

.price-box:hover span {
  color: #6195ff; }

.price-box .price-circle {
  border: 2px solid #6195ff;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.4rem;
  position: relative;
  z-index: 1; }

.price-circle p {
  color: #10161a;
  font-size: 2.3em;
  font-weight: bold;
  margin: 0;
  transition: .22s;
  -webkit-transition: .22s;
  -moz-transition: .22s; }

.price-circle p em {
  font-size: 0.35em;
  text-transform: uppercase;
  font-style: normal;
  display: block; }

.price-box:hover .price-circle p {
  color: #fff; }

.price-box a {
  color: #6195ff;
  border: 2px solid #6195ff;
  padding: 0.9rem 2.5rem;
  border-radius: 3px;
  margin-top: 1.3rem;
  transition: .22s;
  -webkit-transition: .22s;
  -moz-transition: .22s;
  z-index: 1; }

.price-box:hover a {
  border-color: #577fd2;
  color: #577fd2; }

.price-box a:hover {
  border-color: #6195ff;
  color: #6195ff; }

#team-slide {
  background: url("../img/new-york.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative; }

#team-slide .slide {
  z-index: 1; }

.person-photo img {
  border-radius: 50%; }

.slide .slide-box {
  flex-direction: column; }

.person-info h4 {
  color: #fff;
  font-size: 1.7em;
  margin-bottom: 0.2rem; }

.person-info span {
  color: #6195ff;
  text-transform: uppercase;
  font-size: 1em; }

.slide-box .slide-title {
  align-items: center;
  margin-bottom: 1.6rem; }

.slide-title .person-photo {
  margin-right: 1.2rem; }

.slide-box p {
  color: #fff;
  font-size: 1em;
  line-height: 1.8em; }

.slide .current::after {
  display: none; }

#team {
  justify-content: center;
  flex-direction: column; }

.team-block .member-box {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 2.7rem 1.5rem;
  position: relative;
  transition: .2s;
  overflow: hidden; }

.member-box h4 {
  color: #10161a;
  font-size: 1.6em;
  margin: 1rem 0 0.8rem 0;
  transition: .2s; }

.member-box span {
  color: #868f9b;
  text-transform: uppercase;
  font-size: 1.2em; }

.member-box .shade-layer {
  content: "";
  display: block;
  background-color: #1c1d21;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .2s;
  z-index: 2; }

.member-box:hover .shade-layer {
  opacity: 0.8;
  height: 100%; }

.member-box::after {
  content: "";
  display: block;
  background-color: #1c1d21;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 100%;
  transition: .2s; }

.member-box:hover::after {
  bottom: 0; }

.member-box .member-photo {
  overflow: hidden;
  position: relative; }

.member-photo img {
  position: relative;
  z-index: 1; }

.member-info {
  z-index: 2;
  text-align: center; }

.member-box:hover .member-info h4 {
  color: #fff; }

.member-box:hover .member-info span {
  color: #6195ff; }

.shade-layer .social-net {
  flex-direction: column;
  position: absolute;
  right: 0; }

.shade-layer .social-net a {
  width: 50px;
  height: 50px;
  background-color: #6195ff;
  align-items: center;
  justify-content: center;
  transition: .2s; }

.shade-layer .social-net a i {
  font-size: 1.1em; }

.shade-layer .social-net a:hover {
  background-color: #6587cc; }

#blog {
  flex-direction: column; }

#blog .blog-block {
  justify-content: space-between; }

.blog-block .blog-box {
  width: 31.5%; }

.blog-details li {
  color: #10161a;
  margin-right: 1rem; }

.blog-details li i {
  color: #6195ff;
  margin-right: 0.1rem; }

.blog-box .blog-info {
  padding: 1.3rem; }

.blog-info h4 {
  color: #10161a;
  font-size: 1.4em;
  margin: 1.3rem 0; }

.blog-info p {
  font-size: 1em;
  line-height: 1.65em;
  margin-bottom: 1rem; }

.blog-info a {
  color: #6195ff;
  font-size: 1em;
  transition: .2s; }

.blog-info a:hover {
  color: #9ab0da; }

#contact {
  flex-direction: column; }

#contact .contact-area {
  width: 100%;
  justify-content: space-around; }

.contact-area .contact-box {
  flex-direction: column;
  align-items: center; }

.contact-box i {
  color: #6195ff;
  font-size: 2.3rem; }

.contact-box h4 {
  color: #10161a;
  font-size: 1.4em;
  margin: 1.5rem 0; }

.contact-box span {
  color: #868f9b;
  font-size: 1em;
  font-weight: 300; }

.contact-form {
  flex-direction: column;
  width: 767px;
  margin-top: 4rem; }

.contact-form form .inputbox {
  color: #354052;
  font-size: 1em;
  width: 100%;
  background-color: #f4f4f4;
  border-bottom: 2px solid #eee;
  border-top: none;
  border-left: none;
  border-right: none;
  opacity: .5;
  padding: 0.7rem 0.9rem;
  margin-bottom: 1.5rem; }

.contact-form form .inputbox:focus {
  opacity: 1;
  border-color: #6195ff; }

.inputbox::placeholder {
  color: #354052; }

.input-group label {
  margin-right: 1rem;
  width: 100%; }

.input-group label:last-child {
  margin-right: 0; }

.contact-form form textarea.inputbox {
  font-size: 1em;
  resize: none;
  height: 90px;
  font-family: 'Roboto', sans-serif; }

.contact-form .submit-btn {
  justify-content: center;
  margin-top: 0.2rem; }

.submit-btn input {
  color: #fff;
  font-size: 1.1em;
  background-color: #6195ff;
  border: none;
  outline: none;
  padding: 1rem 2.3rem;
  cursor: pointer;
  border-radius: 3px; }

footer {
  background-color: #1c1d21; }

footer .footer-inner {
  align-items: center;
  flex-direction: column; }

.footer-inner a.ftr-logo {
  color: #fff;
  font-size: 2.7em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3rem; }

.footer-inner ul li {
  width: 50px;
  height: 50px;
  margin-right: 0.9rem; }

.footer-inner ul li a {
  background-color: #6195ff;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: .2s; }

.footer-inner ul li a:hover {
  background-color: #6587cc; }

.footer-inner ul {
  margin-bottom: 2rem; }

.footer-inner ul li:last-child {
  margin-right: 0; }

.footer-inner p {
  color: #868f9b; }

.footer-inner p a {
  color: #6195ff; }

#about {
  flex-direction: column; }

.about-block {
  justify-content: space-around; }

.about-block .about-cat {
  flex-direction: column;
  align-items: center;
  border: 1px solid #eee;
  padding: 2.3rem 0.95rem;
  width: 31%;
  position: relative;
  transition: .2s;
  overflow: hidden; }

.about-cat i {
  color: #6195ff;
  font-size: 2.3em;
  position: relative; }

.about-cat h3 {
  color: #10161a;
  font-size: 1.4em;
  margin: 1rem 0;
  transition: .2s;
  position: relative; }

.about-cat p {
  font-size: 0.95em;
  line-height: 1.6em;
  text-align: center;
  margin-bottom: 0.95rem;
  position: relative; }

.about-cat a {
  color: #6195ff;
  font-size: 0.95em;
  transition: .2s;
  position: relative; }

.about-cat a:hover {
  color: #6587cc; }

.about-cat::before {
  content: "";
  display: block;
  background-color: #10161a;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  opacity: 0;
  transition: .2s; }

.about-cat:hover::before {
  opacity: 1;
  right: 0; }

.about-cat:hover h3 {
  color: #fff; }

#portfolio {
  flex-direction: column;
  background-color: #FAFAFA;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

#portfolio .portfolio-inner {
  flex-wrap: wrap; }

.portfolio-inner .photo-box {
  width: 32%;
  padding: 1.2rem;
  position: relative;
  transition: .2s ease-in-out; }

.photo-box .shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7); }

.photo-box:hover .shadow {
  opacity: 1; }

.photo-box .shadow .shadow-txt {
  color: red;
  flex-direction: column;
  text-align: center; }

.shadow-txt span {
  color: #6195ff;
  text-transform: uppercase; }

.shadow-txt h4 {
  color: #fff;
  font-size: 1.5em; }

.sticky {
  background-color: #fff;
  z-index: 9; }

.sticky .nav-menu li a {
  color: #10161a; }

.sticky .nav-left a {
  color: #10161a; }

.sticky .nav-menu li.current a {
  color: #6195ff; }

.sticky > .nav-menu > li.cool-link:hover a {
  color: #6195ff; }

.sticky .nav-menu ul.dropdown-menu li a {
  color: #fff; }

.sticky .nav-menu ul.dropdown-menu li:hover a {
  color: #dee2e9; }

#backToTop {
  background: #6195ff;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  border: none;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease; }

#backToTop.show {
  opacity: 1;
  visibility: visible;
  transition: all .3s ease; }

#backToTop i {
  color: #fff; }

#loading {
  background: #fff url("../img/loading.gif") no-repeat center center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 9999; }

/*# sourceMappingURL=style.css.map */
